:root {
    --bc-color: #0c1821;
    --bc-color2: #11202d;
    --oxford-blue: #1b2a41;
    --charcoal: #324a5f;
    --lavender: #ccc9dc;
}

body {
    background-color: var(--bc-color2);
    color: var(--lavender);
}

#card-img-top {
    width: 125px;
    height: auto;
}

.border {
    border-color: var(--charcoal) !important;
}

.card {
    border-color: var(--charcoal);
    background-color: var(--oxford-blue); 
    /* border: none; */
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: var(--bc-color);
}

.btn-primary {
    background-color: var(--oxford-blue);
    /* border-color: var(--charcoal); */
    border: none;
    color: var(--lavender);
}

.btn-primary:hover {
    background-color: var(--bc-color);
    border-color: var(--charcoal);
    color: var(--lavender);
}

.navbar {
    background-color: var(--bc-color2);
    border-color: var(--charcoal) !important;
}

.navbar-brand {
    color: lavender;
}

a {
    color: lavender;
}