{% extends "my_app/layout.html" %}
{% load static %}


{% block body %}
<h5 class="mt-3">Your library</h5>
<div class="custom-border mt-3"></div>

<div class="row px-0 mt-3">
    <div class="col d-flex">
        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="currently-reading" href="">
        <!-- <div class="col mt-3 mb-2 d-flex justify-content-center"> -->
            Currently reading
        </div>

        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="read" href="">
            Read
        </div>

        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="not-finish" href="">
            Did not finish
        </div>
    </div>
</div>

<!-- <div class="row" id="current-books">
    This is code for custom card view!!!
</div> -->


<!-- This code for only image view!!! -->
<div class="row">
    <div class="col d-flex justify-content-start flex-wrap mt-2 px-2" id="current-books">

    </div>
</div>
<div class="custom-border mt-3"></div>


<div class="row px-0">
    <div class="col d-flex mt-3">
        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="currently-reading" href="">
            All books
        </div>
    </div>
</div>

<div class="row" id="books">
    <!-- <div class="container-fluid" id="books-view"> -->
        <!-- <div class="row" id="books"> -->

        <!-- </div> -->
        <!-- <div class="custom-border"></div> -->
    <!-- </div> -->
</div>
<div class="custom-border mt-3"></div>


<div class="row" id="user-stats">
    <div class="p-3 d-flex justify-content-center">
        <p>User stats</p>
    </div>


</div>

<div class="col-12 mt-3" id="add-button">
    <p>Add books here</p>
    <button class="btn btn-primary" id="add-book" type="submit">Add</button>
</div>

<form action="{% url 'add_book' %}" method="POST" class="col" id="add-book-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container d-flex justify-content-center">
        <div class="col-4 border rounded p-3">
            {{ form.as_p }}
            <button class="btn btn-primary mt-3" id="add-btn" type="submit">Add to books</button>
        </div>
    </div>
</form>

{% endblock body %}

{% block script %}
    <script src="{% static 'my_app/index.js' %}"></script>
{% endblock %}