{% extends "my_app/layout.html" %}
{% load static %}


{% block body %}
<div class="row">
    <form class="col" id="add-book-form">
        <p>Add books here</p>
        <button class="btn btn-primary" id="add-book" type="submit">Add</button>
    </form>
    <!-- <div class="col" id="form-view">
        Title: {{ form.title }}
        Author: {{ form.author }}
        Genre: {{ form.genre }}
        Publication_date: {{ form.publication_date }}
    </div> -->
</div>
{% endblock body %}

{% block script %}
    <script src="{% static 'my_app/index.js' %}"></script>
{% endblock %}