{% extends "my_app/layout.html" %}
{% load static %}


{% block body %}
<div class="row">
    <div class="col d-flex mt-3 mb-1">
        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="all-books" href="">
            All
        </div>

        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="currently-reading" href="">
        <!-- <div class="col mt-3 mb-2 d-flex justify-content-center"> -->
            Reading
        </div>

        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="read" href="">
            Read
        </div>

        <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="not-finish" href="">
            Not finish
        </div>
    </div>
</div>

<div id="library-view">

</div>

{% endblock body %}

{% block script %}
    <script src="{% static 'my_app/library.js' %}"></script>
{% endblock %}