{% extends "my_app/layout.html" %}
{% load static %}


{% block body %}
<div class="container" style="width:80%;">
    <div class="row" id="library-navbar">
        <div class="col d-flex justify-content-start mt-3 mb-1 px-0">
            <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="all-books" href="">
                All
            </div>

            <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="currently-reading" href="">
            <!-- <div class="col mt-3 mb-2 d-flex justify-content-center"> -->
                Reading
            </div>

            <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="read" href="">
                Read
            </div>

            <div class="px-3 py-1 rounded-4 me-3 custom-btn" id="not-finish" href="">
                Not finish
            </div>
        </div>
    </div>

    <div class="row mb-3 mt-2">
        <div class="col d-flex px-0 justify-content-end">
            <div class="px-3 py-1 rounded-1 custom-btn" id="classic-view">
                Classic
            </div>

            <div class="px-3 py-1 rounded-1 custom-btn ms-3" id="shelf-view">
                Shelf
            </div>
        </div>
    </div>


    <div id="library-view">

    </div>

    <!-- <div class="row">
        <div class="col justify-content-center" id="shelf">

        </div>
    </div> -->

</div>



{% endblock body %}

{% block script %}
    <script src="{% static 'my_app/library.js' %}"></script>
{% endblock %}