{% extends "my_app/layout.html" %}
{% load static %}


{% block body %}
<div class="container justify-content-center" style="width: 80%;">

    <div class="row p-3 d-flex justify-content-center mt-3 rounded" style="border: 1px solid #324a5f;">
        <!-- Has to work on the form submision -->
        <!-- <form class="col d-flex align-items-center" id="search-form"> -->
        <div class="col d-flex align-items-center" id="search-form">
            <input id="title" type="text" class="form-control" autofocus placeholder="Search for book ...">
            <button class="btn btn-primary ms-2" id="search-book" autofocus type="submit">Search</button>
        </div>
        <!-- </form> -->
    </div>
    
</div>

<div class="container justify-content-center mb-3" style="width: 80%;" id="book-view">

</div>
{% endblock body %}

{% block script %}
    <script src="{% static 'my_app/search_book.js' %}"></script>
{% endblock %}